div.list-group(ng-controller='ApplicantsCtrl')
	a.list-group-item(ui-sref='applicantDetail({applicantId:\'{{applicant._id}}\'})' type='button' ng-repeat='applicant in applicants'){{applicant.FirstName}} {{applicant.LastName}}