<form action="POST" name="applicantForm" ng-submit="submitForm(applicantForm($valid))" novalidate>
	<div class="form-group">
		<label for="FirstName">First Name</label>
		<input type="text" class="form-control" ng-model="firstName" required>
	</div>
	<div class="form-group">
		<label for="LastName">Last Name</label>
		<input type="text" class="form-control" ng-model="lastName" required>
	</div>
	<div class="form-group">
		<label for="DOB">Birthday</label>
		<div class="input-group">
			<input type="text" class="form-control" ng-model="birthday" ng-required="true" ng-focus="setDatePickerOpen(true)" is-open="isDatePickerOpen" show-weeks="false" uib-datepicker-popup="MM/dd/yyyy"/>
			<span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="toggleDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
		</div>
	</div>
	<div class="form-group">
		<label for="Email">Email</label>
		<input type="email" class="form-control" ng-model="email" required>
	</div>
	<div class="form-group">
		<label for="FavoriteThings">What are your 5 favorite things?</label>
		<tags-input name="favoriteThings" ng-model="favoriteThings" ng-minlength=5 ng-maxlength=5 ng-required="false"" primary-theme="true"></tags-input>
		<p>{{favoriteThings}} Length: {{favoriteThings.length}} isValid:{{applicantForm.favoriteThings.$valid}}</p>
	</div>
	<div class="form-group">
		<label for="myslider">Are you the life of the party?</label>
		<div ui-slider min="0" max="50" ng-model="lifeOfTheParty"></div>
	</div>
	<button type="submit" class="btn btn-primary" ng-disabled="applicantForm.$invalid">Submit</button>
</form>
<form action="blah">

</form>